version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: next-app
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:4000
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: express-api
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
      - /app/node_modules
